@import "tailwindcss";

body {
  /* @apply container bg-cover min-h-screen text-white flex flex-col items-center; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: black;
  width: 100%;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

@theme {
  /* colors */
  --color-customOrange: #e47c48;
}
